<div class="container-fluid">
   <div class="row rowID">
        <div class="col-md-6"><p>Employee ID:</p></div>
        <div class="col-md-6"><p>{{emp+456}}</p></div>
   </div>
   <div class="row rowName">
      <div class="col-md-6"><p>Employee Name:</p></div>
        <div class="col-md-6"><p>{{emp+456}}</p></div>
   </div>
   <div class="row rowSal">
      <div class="col-md-6"><p>Employee Salary:</p></div>
        <div class="col-md-6"><p>{{emp+456}}</p></div>
   </div>
   <div class="row rowAge">
      <div class="col-md-6"><p>Employee Age:</p></div>
        <div class="col-md-6"><p>{{emp+456}}</p></div>
   </div>
</div>
