.rowID{
    background-color: aqua;
    font-stretch: expanded;
    font-size:larger;
    padding-left: 5%;
}
.rowName{
    background-color: rgb(139, 209, 209);
    font-stretch: expanded;
    font-size:x-large;
    padding-left: 5%;
}
.rowSal{
    background-color: aqua;
    font-stretch: expanded;
    font-size:larger;
    padding-left: 5%;
}
.rowAge{
    background-color: aqua;
    font-stretch: expanded;
    font-size:larger;
    padding-left: 5%;
}

